.anschoice {
    display: block;
}

.anschoice.correct {
    color: green;
    font-weight: bold;

}
.answers {
    margin-left: 1em;
}

.quest-but {
    margin-right: 1em;
}
.quizCreate{
    margin: 5em;
}
