.anschoice {
    display: block;
}

.anschoice.correct {
    color: green;
}
.answers {
    margin-left: 1em;
}

.quest-but {
    margin-right: 1em;
}
.quizCreate{
    margin: 5em;
}

.fixed-alert {
    position: fixed;
    margin: 1em;
}
