body {

}

.onyen {
    margin-right: 1em;
}

.nav-but {
    margin-right: 1em;
}

.anschoice {
    display: inline;
    font-size: 15px;
}
.question {
    font-size: 18px;
}

.attempts {
    display: inline;
    margin: 1em;
}
