#questionBox{
	align:center;
	border-radius: 10px;
	padding:15px;
	margin:5%;"
}
#questionBox div{
	font-size: 18px;
}
#questionBox input{
	font-size: 25px;
}

body{
	background-image: linear-gradient(to right top, #3bc7f9, #91d2ff, #c5deff, #e8edff, #ffffff);
	background-size:     cover;
	background-repeat:   no-repeat;
}
#navbar{
	background-color: transparent;
	padding: 1px;
	margin: 5;
	float: center;
	width: 100%;
	text-align: center;
	opacity: 0.85;
	}
#navbar ul {
	margin: 2px;
	padding: 0px;
	list-style-type: none;
	float: left;
	display: inline;

	}
#navbar h2 {
	    font-family: Lobster, Monospace;
			color: BLACK;
			display: inline;
	  }
#navbar button{
			float: right;
			display: inline;
			padding: .2em 1em;
	  }
#navbar ul li {
	display: inline;
	text-decoration: none;
	padding: .2em 1em;
	margin-left: 10px;
	}

#navbar ul li a {
	color: Black;
	font-size: 20px;
	position:relative;
	text-decoration:none;
	display:inline-block;
	}

#navbar ul li a:after {
  display:block;
  content: '';
  border-bottom: solid 4px 	#00CED1;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}
#navbar ul li a:hover:after {
	  transform: scaleX(1);
	  transform-origin:0 50%;
	}
