body {

}

.onyen {
    margin-right: 1em;
}

.nav-but {
    margin-right: 1em;
}

.anschoice {
    display: inline;
    font-size: 15px;
}
.question {
    font-size: 18px;
}

.attempts {
    display: inline;
    margin: 1em;
}

.header-spacer {
    border-bottom: 1px solid #2780E3;
    padding: 0.2em 0 0.1em 0.4em;
}
