extends layout.pug


block content
    div#questions
        each val in questlist
            div= val.question
            ul
                each ans in val.answers
                  input(type="radio", name=val.question, value=ans)
                    = ans
                    | <br>
            button(onclick='something()')#btn.btn-primary Submit
