extends layout.pug
block content
    h1(id="HelloWorld") Hello World!
    head
      title= "Quiz Site"
    body
        each val in questlist
            div(class="question")=val.question
            ul
                each ans in val.answers
                    li= ans
