doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/static/style/main.css')
    link(rel='stylesheet', href='/static/style/admin.css')
    link(rel="stylesheet" href="/static/style/bootstrap.min.css")
    script(src="/static/js/jquery-3.2.1.slim.min.js" crossorigin="anonymous")
    script(src="/static/js/popper.min.js" crossorigin="anonymous")
    script(src="/static/js/bootstrap.min.js" crossorigin="anonymous")
    block head

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a(href="/admin").navbar-brand Instructor Panel
        button(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item
                    a(href="/admin/createQuiz").nav-link Create Quiz
                li.nav-item
                    a(href="/home").nav-link View Quizzes
                li.nav-item
                    a(href="/admin/users").nav-link Manage Users
                li.nav-item
                    a(href="/admin/sections").nav-link View Sections
            ul.navbar-nav
                li.nav-item
                    span.navbar-text.onyen=user.onyen
                li.nav-item
                    a( href="/" role="button").navbar-btn.btn.btn-success.nav-but  Student View
                li.nav-item
                    a(href="/logout" role="button").navbar-btn.btn.btn-danger  Log Out
    block content
