doctype html
html
  head
<<<<<<< HEAD
    title Site - #{title}
    block scripts
        link(rel="stylesheet" type="text/css" href="/static/style/main.css")
=======
    title= title
    link(rel='stylesheet', href='./style/main.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  div.container-fluid
>>>>>>> a491f8ce8820d0c24b236908086ffeabcaaa64aa
  body
    div#navbar
        ul
          li.home
            a(href="http://github.com").glyphicon.glyphicon-home  Home
          li
            a(href="http://github.com") Grades
        h2.text-primary Quiz
        button(onclick='something()').btn.btn-danger Log Out

    block content
