doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./style/main.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div#navbar
        ul
          li.home
            a(href="http://github.com").glyphicon.glyphicon-home  Home
          li
            a(href="http://github.com").glyphicon.glyphicon-list-alt  Grades
        h2.text-primary Quiz
        h2.text-primary=onyen
        h2.text-primary=pid
        button(onclick='something()').btn.btn-danger.glyphicon.glyphicon-log-out  Log Out
    block content
