extends layout.pug

block content
    div.jumbotron.jumbotron-fluid
        div.container
            h1.display-4 Oops! This quiz is not open right now!
            p.lead If this quiz is already complete and you would like to review the quiz, please contact a TA or an instructor!
