extends layout.pug

block content
    div.container-fluid
      div.quizCreateHeader
        h1.header-spacer.m-b-2 Quiz Grades
        div.row
            div.col.mx-1
                table.table.table-hover
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") Name
                            th(scope="col") Score
                            th(scope="col")
                    tbody
                        each val, index in quizes
                            tr
                                th(scope="row")=(index+1)
                                td=val.quiz_name
                                td=val.score + "/" + val.total
                                td
                                    a(href="/quiz/"+val.quiz_id) View Quiz
