extends layoutAdmin.pug

block content
    div.container-fluid
      div.quizCreateHeader
        h1.header-spacer.m-b-2 Quiz List
        nav.navbar.navbar-light.bg-light.admin-navbar
            form.form-inline
                button(type="button" class="addQuizButton").btn.btn-success.button-left Add Quiz
                button(type="button" class="deleteQuizesButton").btn.btn-danger.button-left Delete Selected Quizes
                button(type="button" class="exportQuizesButton").btn.btn-primary.button-left Export Selected Quizes
        div.row
            div.col.mx-1
                table.table.table-hover#userTable
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") Name
                            th(scope="col") Edit
                    tbody
                        each val, index in quizes
                            tr
                                th(scope="row").align-middle
                                    input(type="checkbox" id=val.quiz_id class = "quizSelection")
                                    label(class="form-check-label" style="margin-left: 1em;" for=val.quiz_id)=(index+1)
                                td.align-middle=val.quiz_name
                                td.align-middle
                                    button(class="editquiz" id=val.quiz_id type="button").btn.btn-primary Edit
